<div id="contact-us_container">
    <form id="form_container" action="" method="POST">
        <label for="name"> Full Name: </label>
        <input id="name" type="text" placeholder="Enter full name" name="username">

        <label for="email"> Email: </label>
        <input id="email" type="email" placeholder="Enter email address" name="email">

            <label for="phone"> Phone: </label>
        <input id="phone" type="number" placeholder="Enter phone number" name="phone">

        <label for="subject"> Subject: </label>
        <input id="subject" type="text" placeholder="Enter your subject" name="subject">

        <label for="message"> Message: </label>
        <textarea placeholder="Enter your message" name="message"></textarea>

        <button id="btn_submit" type="submit"> Send Message </button>

    </form>
</div>