<div>
<div id="contact-us_container">
    <div id="contact_img">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2625.292867733353!2d2.386090315554803!3d48.85262547928691!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e38f817b573%3A0x48d69c30470e7aeb!2sIronhack%20Paris!5e0!3m2!1sen!2sfr!4v1568198306301!5m2!1sen!2sfr" width="650" height="500" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
    <div class="form_contact">

        <header class="form_contact-header">
            <h1 class="form-title" style="color:#29889B"> Contact Us &nbsp;&nbsp;<i class="fas fa-envelope-open-text"></i> </h1> 
    
        </header>
        <br><br>

        <form id="form_container" action="/message-sent" method="POST" enctype="multipart/form-data">
            <label for="name"> Full Name: </label>
            <input id="name" type="text" placeholder="Enter full name" name="username" required value="Dori Doro">

            <label for="email"> Email: </label>
            <input id="email" type="email" placeholder="Enter email address" name="email" required value="doro@gmail.com">

                <label for="phone"> Phone: </label>
            <input id="phone" type="phone" placeholder="Enter phone number" name="phone" required value="+977 7 585214">

            <label for="subject"> Subject: </label>
            <input id="subject" type="text" placeholder="Enter your subject" name="subject" required value="subject">

            <label for="message"> Message: </label>
            <textarea placeholder="Enter your message" required name="message" > this is a message </textarea>
            
            <button id="btn_submit" type="submit"> Send Message </button>

        </form>
    </div>
</div>
<div class="extra-space"> </div>
</div>