<div class="lab-banner fade">
    <img src="images/lab-banner-3.jpeg" alt="lab-banner">
</div>

<div class="lab-banner fade">
    <img src="images/lab-banner-4.jpeg" alt="lab-banner">
</div>
<div class="lab-banner fade">
    <img src="images/lab-banner-5.jpg" alt="lab-banner">
</div>

<div class="notes">
    <div class="note1">
        <i class="far fa-clock note-icons"></i>
        <h2>Working Time</h2>
        <table>
            <tbody>
                <tr>
                    <td>Sunday-Friday</td>
                    <td style="text-align: center;">–</td>
                    <td style="text-align: right;">7:00 AM to 8:00 PM</td>
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td>–</td>
                    <td style="text-align: right;">7:00 AM to 12:00 Noon</td>
                </tr>
            </tbody>
        </table>
        </div>
    <div class="note2">
        <i class="fas fa-phone-volume note-icons"></i>
        <h2><span style="color: #fff;">Doctor Appointments</span></h2>
        <div class="push" style='height:15px'></div>
                01- 5546684<br />
                01- 6922858<br />
    </div>
    <div class="note3">
        <i class="fas fa-briefcase-medical note-icons"></i>
        <h2>Online Report</h2>
    </div>

</div>

<div class="extra-space">

</div>
