<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/contactUs_styles.css" />
  <link rel="stylesheet" href="/stylesheets/user_dashboard.css">
  <link rel="stylesheet" href="/stylesheets/editProfile_styles.css">
  <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="/stylesheets/add_test.css">
   
   {{!-- {{#each scripts}}
  <script type="module" src="/javascripts/{{this}}""></script>
   {{/each}}
  --}}
</head>
<body >
  
   {{> nav}}
  <div class="main-container">
    

     
      {{{body}}}
 

      {{> footer}}


  </div>
    {{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> --}}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/javascripts/script.js"></script>
  
</body>
</html>