<div class="login-container">

    <div class="login-form">
         <header class="form-header">
            <h1 class="form-title" style="color:#29889B">Welcome</h1>
            <p class="form-subtitle"><strong>Please enter your Credentials below </strong> </p> <br>
        </header>
 
        <form method="post" action="/login">

            <div class="form-item-wrapper flexed-item">
                 <label for="email" class="label-ref label">Email</label> <br> <br>
                 <input id="email" type="email" class="input-text input" placeholder="xyz@gmail.com" required value="" name="email">
            </div>
            <br>
             <br>

             <div class="form-item-wrapper flexed-item">
                  <label for="password" class="label-ref label">Password</label><br> <br>
                 <input id="password" type="password"  class="input-text input" placeholder="••••••" required value="" name="password">
             </div>
             <br>
              <br>

             <button class="button-primary ">LOGIN</button>

        </form>
    </div>


{{!-- SIGNUP --}}

<div class="signup-form">
         <header class="form-header">
            <h1 class="form-title"  style="color:#29889B">New Patient Register</h1>
              <p class="form-subtitle"><strong>Please enter your details below </strong> </p> <br>
        </header>

 
        <form method="post" action="/signup">

            <div class="form-item-wrapper flexed-item">
                 <label for="name" class="label-ref label">Full Name: </label> 
                 <input id="name" type="text" class="input-text input" placeholder="Enter your full name" required value="" name="username">
            </div>
            <br>
            <br>

            <div class="form-item-wrapper flexed-item">
                 <label for="email" class="label-ref label">Email: </label> 
                 <input id="email" type="email" class="input-text input" placeholder="xyz@gmail.com" required value="" name="email">
            </div>
            <br>
             <br>

             <div class="form-item-wrapper flexed-item">
                  <label for="password" class="label-ref label">Password: </label>
                 <input id="password" type="password"  class="input-text input" placeholder="••••••" required value="" name="password">
             </div>
             <br>
              <br>

            <div class="form-item-wrapper flexed-item">
                  <label for="address" class="label-ref label">Address: </label>
                 <input id="address" type="text"  class="input-text input" placeholder="abcde" required value="" name="address">
             </div>
             <br>
             <br>

              <div class="form-item-wrapper flexed-item">
                  <label for="phone" class="label-ref label">Contact No: </label>
                 <input id="phone" type="text"  class="input-text input" placeholder="+33782169556" required value="" name="phone">
             </div>
             <br>
             <br>

             <button class="button-primary ">SIGNUP</button>

        </form>
</div> 

</div>


<div class="extra-space">

</div>