<div id="sent_container">
    <div id="img_title">
        <h2 class="title_message"> Thank you for your message and for your interest in {{title}}.
            <br/>
            Your message has been sent. We will follow up as fast as possible. </h2>
    </div>
</div>