<div class="manage-test-wrapper">

  <div class="welcome-container">
    <div>
        <h3 class="welcome-user">Welcome {{user.username}}</h3>
      	<p><i class="fas fa-envelope-open-text"></i> info@xyzlab.com</a></p>
        <p>  <i class="fas fa-phone-square"></i> +977 1 5546684</p>
			<p><i class="fas fa-map-marked-alt"></i> Haugal, Mangalbazar , Lalitpur</span></p>
    </div>

    <div>
      <a href=""><button class="edit-btn">EDIT PROFILE</button></a>
    </div>
    
  </div>

  <table >
    <thead>
      <tr class="table-row">
        <th class="table-head">Test Name </th>
        <th class="table-head">Start Date</th>
        <th class="table-head">Status</th>
        <th class="table-head">Delete</th>
      </tr>
    </thead>

    <tbody>
      <tr class="table-row">
      </tr>
      <tr>
          <td class="table-division">Phospate in Blood</td>
          <td class="table-division">9-September-2019</td>
          <td class="table-division">Started</td>
           <td> <a href=""><i class="fas fa-calendar-times"></i> </a></td>
      </tr>
       <tr>
          <td class="table-division">Troponin Test</td>
          <td class="table-division">9-September-2019</td>
          <td class="table-division">Started</td>
           <td> <a href=""><i class="fas fa-calendar-times"></i> </a></td>
      </tr>
      <tr>
          <td class="table-division">1</td>
          <td class="table-division">2</td>
          <td class="table-division">3</td>
          <td class="table-division">4</td>
      </tr>
    </tbody>
  </table>
</div>