<div class="nav-container">
    <div class="nav-logo">
        <img src="/images/logo.png" alt="logo"> 
    </div>

    <div class="lab-name">
        <h2>XYZ &nbsp;LABS</h2>

    </div>



    <nav class="nav-list">
        <a href="/">Home</a>
        <a href="/about">About Us</a>
        <a href="/contact">Contact Us</a>
        {{#if isLoggedIn }} 
            <a href="/logout"><i class="fas fa-power-off logout"></i></a>
            <a href="/user"><i class="fas fa-user logout"></i></a>
        {{else}}
                <a href="/login">Login/Signup</a>

        {{/if}}
    </nav>

</div>