<div class="about-main">
  <div class="about-text">
    <h1>Welcome to XYZ Laboratory Clinic</h1>
    <p>XYZ LAB is one of the leading clinical diagnostic center with a mission of accurate diagnosis for better treatment in affordable price. We offer large range of test with upgraded technology since 40 years. We have highly skilled and educated technologists since last 10 years. We conduct our tests in controlled environment and all our samples and testing materials are stored in required environment. Samjhana Lab also has 24 hours electricity supported by 200 KVA generator and 10 KVA online UPS so that the lab consistently maintains its cold chain as required.</p>

  </div>
  <div class="about-image">
    <img src="images/about-image.jpg" alt="about-image">
  </div>

</div>

<div class="extra-space">
</div>

<h1>Our Services</h1>

<div class="tests">

  
  <div class="test">
    <i class="fas fa-flask"></i>
    <p>Pathology Lab</p>

  </div>

  <div class="test">
    <i class="fas fa-stethoscope"></i>
    <p>Ultra Sound, USG</p>

  </div>

  <div class="test">
   <i class="fas fa-heartbeat"></i>
    <p>ElectroCardiography</p>

  </div>
  <div class="test">
    <i class="fas fa-flask"></i>
    <p>ECHO</p>

  </div>
  <div class="test">
   <i class="fas fa-microscope"></i>
    <p>Pathology Lab</p>

  </div>

  

</div>