<div class="test-add-form">
    <div class="form-container">
        <header class="form-header">
            <h1 class="form-title"  style="color:#29889B">Add New Test</h1>
            <br> <span><i class="fas fa-folder-plus loginIcon"></i></span>
        </header>
        <br><br>

         <form method="post" action="/user/add-test">

            <div class="form-item-wrapper flexed-item">
                 <label for="name" class="label-ref label">Test Name: </label> 
                 <input id="name" type="text" class="input-text input"  required value="" name="name">
            </div>
            <br>
            <br>

            <div class="form-item-wrapper flexed-item">
                 <label for="price" class="label-ref label">Price: </label> 
                 <input id="price" type="number" class="input-text input"  required value="" name="price">
            </div>
            
             <br>
              <br>

            <div class="form-item-wrapper flexed-item">
                  <label for="description" class="label-ref label">Description: </label>
                 <input id="description" type="text"  class="input-text input"  required value="" name="description">
             </div>
             <br>
             <br>

              <div class="form-item-wrapper flexed-item">
                  <label for="normal_value" class="label-ref label">Normal Value: </label>
                 <input id="normal_value" type="text"  class="input-text input" required value="" name="normal_value">
             </div>
             <br>
             <br>

             <button class="button-primary ">Add this test to Collection</button>

        </form>

    </div>
   
</div>