
/* --- id --- */
#contact-us_container {
    display: flex;
    justify-content: center;
}
#form_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-left: 50px; */
}
#form_container input, textarea {
    border: none;
    border-bottom: 1px solid #29889B;
    margin: 5px 0;
    padding: 3px 0;
    width: 200px;
}
#form_container textarea {
    font-family: Lucida Grande, Helvetica, Arial, sans-serif;
    width: 350px;
    height: 150px;
}
#btn_submit {
    background-color: #29889B;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: #eee;
}

#sent_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 150px;
    margin: 60px 0;
    padding: 20px;
}
#img_title {
    align-self: center;
    background-color: #00B7FF;
    color: white;
    
    height: 200px;
    text-align: center;
    width: 103%;
    padding-top: 30px;
}


/* --- classes --- */
.form_contact {   
    box-shadow:5px 5px 5px 5px grey; 
    /* margin-left: 400px; */
    padding: 20px;
    width:40%;

}
.form_contact-header {
    text-align: center;

}











